<footer class="siteFooter">
  <div class="container">
    <div class="row">
      <ul class="about float-left">
        <li><%= link_to "关于住百家", page_path(page: 'about') %></li>
        <li><%= link_to "常见问题", page_path(page: 'qa'), rel: 'nofollow' %></li>
      </ul>
      <div class="float-right">
        <div class="hotLine"><a href="tel:400-901-9896">400-901-9896</a></div>
      </div>
    </div>
  </div>
</footer>
