<div class="row">
  <div class="hot-line">
    咨询热线：<a href="tel:400-901-9896" style="color:#FFF !important;background-color:transparent;border:none;text-decoration:none;">400-901-9896</a>
  </div>
  <div class="copy">
    Copyright <span class="copy-symbol">&copy;</span> 2012-2016 zhubaijia.com 住百家，<br/>版权所有 不得转载 All Rights Reserved.<br>
    <a href="http://www.miitbeian.gov.cn" target="_blank" rel="nofollow" style="color:#fff;">粤ICP备12053354号</a>
  </div>
</div>
