<!-- Tools -->
<section id='tools'>
  <ul class='breadcrumb' id='breadcrumb'>
    <li class='active'>
    <%= link_to menu, url %></a></li>
  <li class='title'><%= second_menu %></li>
  </ul>
</section>
